
#firstCarousel
  --f-carousel-slide-width: calc((100% - 10px) / 2)
  --f-carousel-spacing: 20px

  --f-button-bg: #fff
  --f-button-width: 48px
  --f-button-height: 48px
  --f-button-border-radius: 50%
#firstCarousel .f-carousel__slide

.space-gallery
  &_
    &list
    &item
      display: flex
      align-items: center
      justify-content: center
    &img
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center
