.overhead
  height: 65px
.header-wrap
  background: var(--theme-color-base)
  position: fixed
  width: 100%
  z-index: 10

.header
  display: flex
  align-items: center
  justify-content: space-between
  padding: 10px 5px
  &_
    &logo
      z-index: 10
    &menu
      display: flex
