.logo
  display: flex
  align-items: flex-end
  color: var(--theme-color-black)
  font-size: 30px
  text-decoration: none
  &_
    &img
      width: 50px
      height: 45px
      border-radius: 35%
    &name
      margin-left: 10px
      font-weight: 800
      text-transform: uppercase