:root {
  --mq-size-sm: 540px;
  --mq-size-md: 716px;
  --mq-size-lg: 960px;
  // --mq-size-xl: 1170px;
  --mq-size-xl: 1170px;
  --mq-size-xxl: 1320px;

  --theme-color-white: #fff;
  --theme-color-black: #000;
  --theme-color-base: #F23030;
  --theme-color-secondary: #F2CB05;
  --theme-color-three: #F29F05;
  --theme-color-four: #F28705;
  --theme-color-five: #267365;
  
  --text-color-base: #272727;
  // --text-color-secondary: #fff;
  // --text-color-three: #211381;
  
  // --btn-color-base: #FED305;
  // --link-color-base: #3314ff;
}